<% provide(:title, 'About Me') %>

<h1>About Me</h1>
<p>
	I am a Masters student at University of Waterloo doing Computer Science.  This is an attempt to mock Twitter while learning Ruby on Rails
</p>
