<div class="center hero-unit">
	<h1>Twitter Mock</h1>
	<h2> This is the home page for the Twitter Mockup</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mock.png", alt: "Mock"), '#' %>

