<footer class="footer">
	<small>
		Twitter Mockup by Jayanth Kottapalli
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",	about_path %></li>
			<li><%= link_to "Contact",	contact_path %></li>
			<li><a href="https://github.com/jayanth1991/twitter-mockup">Github Repo</a></li>
		</ul>
	</nav>
</footer>